$grey: #B6B8CA;

$peach: #ED957D;
$peach-shadow: rgba(242, 139, 112, 0.3);

$blue: #696AE9;
$blue-dark: #5D5FEF;
$blue-shadow: rgba(105, 106, 233, 0.2);

$white: #edefff;

$black: #1d1e26;
$black-shadow: #151c22;

$receipt-view-shadow: #1B1C22;

$grey-background: #23242D;

$grey-input-background: #282932;

$line: #3A3C4C;

$phone-size: 420px;
$tab-size: 800px;
$desktop-m: 1440px;
$desktop-l: 1920px;
