$grey: #B6B8CA;

$accents-red: #F66969;
$accents-red-dark: #de5d5d;

$caution-red: #FF5252;
$caution-red-dark: #e63c3c;

$peach: #ED957D;
$peach-shadow: rgba(242, 139, 112, 0.3);

$light-blue: #8f90eb;
$light-blue-dark: #7a7be9;
$light-blue-shadow: rgba(128, 129, 228, 0.2);

$blue: #696AE9;
$blue-dark: #5D5FEF;
$blue-shadow: rgba(105, 106, 233, 0.2);

$white: #edefff;

$black: #1d1e26;
$black-shadow: #151c22;

$receipt-view-shadow: #1B1C22;

$grey-background: #23242D;

$grey-input-background: #282932;

$line: #3A3C4C;

$phone-size: 420px;
$tab-size: 860px;
$desktop-m: 1440px;
$desktop-l: 1920px;



// Custom Colors
//[
//"#E7C074",
//"#78909C",
//"#8D6E63",
//"#00ACC1",
//"#FF7043",
//"#B388FF",
//"#9E9E9E",
//"#66BB6A",
//"#536DFE",
//"#0288D1",
//"#7CB342",
//"#C0CA33",
//"#FFA726",
//"#FF4081",
//"#BA68C8",
//"#FF5252",
//"#26A69A"
//]
$category-yellow: #E7C074;
$category-blue-grey: #78909C;
$category-brown: #8D6E63;
$category-cyan: #00ACC1;
$category-deep-orange: #FF7043;
$category-deep-purple: #B388FF;
$category-grey: #9E9E9E;
$category-green: #66BB6A;
$category-indigo: #536DFE;
$category-light-blue: #0288D1;
$category-light-green: #7CB342;
$category-lime: #C0CA33;
$category-orange: #FFA726;
$category-pink: #FF4081;
$category-purple: #BA68C8;
$category-red: #FF5252;
$category-teal: #26A69A;
