$grey: #b6b8ca;

$accents-red: #f66969;
$accents-red-dark: #de5d5d;

$caution-red: #ff5252;
$caution-red-dark: #e63c3c;

$peach: #ed957d;
$peach-shadow: rgba(242, 139, 112, 0.3);

$light-blue: #8f90eb;
$light-blue-dark: #7a7be9;
$light-blue-shadow: rgba(128, 129, 228, 0.2);

$blue: #696ae9;
$blue-dark: #5d5fef;
$blue-shadow: rgba(105, 106, 233, 0.2);

$white: #edefff;

$black: #1d1e26;
$black-shadow: #151c22;

$receipt-view-shadow: #1b1c22;

$grey-background: #23242d;

$grey-input-background: #282932;

$line: #3a3c4c;

$phone-size: 420px;
$tab-size: 860px;
$desktop-m: 1440px;
$desktop-l: 1920px;

// Custom Colors
//[
//"#E7C074",
//"#78909C",
//"#8D6E63",
//"#00ACC1",
//"#FF7043",
//"#B388FF",
//"#9E9E9E",
//"#66BB6A",
//"#536DFE",
//"#0288D1",
//"#7CB342",
//"#C0CA33",
//"#FFA726",
//"#FF4081",
//"#BA68C8",
//"#FF5252",
//"#26A69A"
//]
$category-yellow: #e7c074;
$category-blue-grey: #78909c;
$category-brown: #8d6e63;
$category-cyan: #00acc1;
$category-deep-orange: #ff7043;
$category-deep-purple: #b388ff;
$category-grey: #9e9e9e;
$category-green: #66bb6a;
$category-indigo: #536dfe;
$category-light-blue: #0288d1;
$category-light-green: #7cb342;
$category-lime: #c0ca33;
$category-orange: #ffa726;
$category-pink: #ff4081;
$category-purple: #ba68c8;
$category-red: #ff5252;
$category-teal: #26a69a;
